.game{
    display: flex;
    
}
.game-buttons{
    display: flex;
    flex-direction: column;
}

.game-buttons button{
    flex: auto;
    justify-content: center;
    margin: 20px;
}
.grid-container{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    justify-content: center;
    
    
}
.grid-container div{
    display: flex;
    flex: auto;
}
.grid-div{
    flex: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
}